/*.botonera{
    width: 950px;
    background: blue;
    border-radius: 8px;
}*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background: url(../img/fondo.jpg);
  /*  background-color:#EAFFE2; */
    

}


label{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    margin-left: 40px;


}

.sel{
    border: 2px solid #54BF29;
    border-radius: 5px 5px 5px 5px;
    margin-top: 8px;
    margin-bottom: 12px;
    text-align: center;
    width: 164px;
    padding: 5px;
 }
 .sel:focus{
    outline:none ;
    border:2px solid #FF922C;
}

.buscador-nom-ape{
    padding: 10px;
    width: 300px;
    height: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    border: 2px solid #54BF29;
    border-radius: 5px 5px 5px 5px;
}

.buscador-nom-ape:focus{
    outline:none ;
    border:2px solid #FF922C;
}

.buscador-dni{
    padding: 6px;
    width: 100px;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 2px solid #54BF29;
    border-radius: 5px 5px 5px 5px;
}

.buscador-dni:focus{
    outline:none ;
    border:2px solid #FF922C;
}

.nacimiento{
    padding: 4px;
    width: 150px;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 2px solid #54BF29;
    border-radius: 5px 5px 5px 5px;
}

.nacimiento:focus{
    outline:none ;
    border:2px solid #FF922C;
}



.buscador-direccion{
    padding: 6px;
    width: 409px;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 2px solid #54BF29;
    border-radius: 5px 5px 5px 5px;
}

.buscador-direccion:focus{
    outline:none ;
    border:2px solid #FF922C;
}




.contenedor-marca{
    display: flex;
    padding-left: 50px;
    align-items: center;
    background:white;
}



.contenedor-white{
    padding: 20px;
    background: #54BF29;
    padding-left: 150px;
    padding-right: 150px;
    
}

.titul{
    margin: 0px;
    color: white;
    text-align: center;
}

.contenedor-tres{
    margin: 0px 0px 0px 0px; /*40px 70px 40px 70px; top  right  bottom left*/
    background: white;
    opacity: 0.9;
}

.contenedor-tres-y-medio{
    padding: 20px 110px 50px 110px; /*40px 70px 40px 70px; top  right  bottom left*/
    background: white;
    opacity: 0.9;
}

.fa-fire-alt{
    color: #54BF29;
    font-size: 30px;
    padding-left: 10px;
}
.marca-login{
    margin-left: 10px;
    font-size: 30px;
    margin-right: 70%;
}


.boton-atras{
    font-size: 12px;
    background-color: #54BF29;
    border: #54BF29;
    border-radius: 10px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 5%;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;

}


.boton-guardar{
    font-size: 12px;
    background-color: #54BF29;
    border: #54BF29;
    border-radius: 10px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 5%;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;

}

.fa-arrow-circle-left{
    padding-right: 10px;
}

.fa-trash-alt{
    padding-right: 10px;
}

.boton:hover{
    background:#54BF29;/**/
    opacity:0.9;
}

.tabla1{
    width: 80%;
    border: 2px solid transparent;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
    background-color: white;
    text-align: center;
    font-size: 13px;
    margin: 30px 1250px 0px 125px;/*top  rigth  bottom  left*/
    


}

.fila1{
    height: 50px;
    font-size: 16px;
    font-weight: bolder;
    color:white;
    background-color: #54BF29;
}

.contenido{
    height: 45px;
}
