@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap');
/*  font-family: 'Roboto', sans-serif; */


body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.content-perfil{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    /* background-color: cyan; */
    box-sizing: border-box;

}

.perfil{
    /* background-color: greenyellow; */
    margin: 30px;
    width: 40%;
    background: #ffffff;
    background: #ffffff;
    box-shadow:  5px 5px 10px #666666,
                 -5px -5px 10px #ffffff;
   
}

.perfil-datos-user{
    display: flex;
    justify-content:space-evenly;
    letter-spacing: 2px;
    padding: 18px;
}


.indice-datos{

    font-size: large;
    font-weight: 700;

}

.indice-datos-usuario{
    font-size: large;
    font-weight: 300;
}

.perfil div p{
    
    padding-bottom: 2px;
    margin: 8px;
    /* border-bottom: 1px solid black ; */
}
/* ********************** la otra columna */

.contenedorperfil2{
    background-color: white;
    padding: 10px;
    width: 60%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.fondoperfil{
    background-color: #FF922C;
    padding: 10px;
}

.fondoperfil img{
    width: 100%;

}

.datosperfil-titulo{
    text-align: center;
    margin: 10px;
}

.datosperfil{
    /* background-color: chartreuse; */
    /* padding: 10px; */
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow:  5px 5px 10px #666666,
                 -5px -5px 10px #ffffff;

}

.contenido{
    /* background-color: cadetblue; */
    width: 50%;
}

/* ******* imc */

.tablaimc{

/* background-color: blueviolet; */
width: 50%;

}
.tablaimc div p{
    margin: 0;

}

.uno, .dos, .tres,
.cuatro, .cinco,
.seis, .siete{
display: flex;
justify-content: center;
justify-content: space-between;
padding-left: 10px;
padding-right: 10px;
}

.uno{
    background-color: #a4f3f3;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dos{
    background-color: #3398CC;

}
.tres{
    background-color: #33CBCC;

}
.cuatro{
    background-color: #99CC33;

}
.cinco{
    background-color: #CBCC33;

}
.seis{
    background-color: #FF9934;

}
.siete{
    background-color: #FF6766;

}
/* ***********************  ******************* */


.contenedor{
    border: 1px solid rgba(124, 122, 122,0.8);
    /* width: 100%; */
    /* height: 300px; */
    overflow: hidden;
    box-shadow:  5px 5px 10px #666666,
                 -5px -5px 10px #ffffff;
}


/* ******************* media query  */

@media (max-width: 1000px) {
    .content-perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .perfil{
        width: 100%;
    }

    .contenedorperfil2{
        width: 100%;
    }

}

@media (max-width: 700px) {
    .datosperfil{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .tablaimc{
        width: 100%;
    }
}