:root {
  --colorLetra: black;
  --colorVerdeFuerte: #54bf29;
  --colorBlanco: #ffff;
  --colorVerdeIntermedio: #e9f8f5;
  --colorVerdeSuave: #eaffe2;
  --colorNaranja: #ff922c;
  --colorNaranjaSuave: #ffeede;
  --colorSombra: rgba(56, 47, 47, 0.692);
  --colorShadowCards: #e09045;
  --bgColorFooter: #1d1d1d;
  --bgcolorPreparation: #f3f3f3;
  --bgcolorIngredients: #f2f4f8;
  --colorInput: #4c5d65;
  --colorBorderInput: #bac6c4;
  --colorDescriptionForm: #21313c;
  --colorTable: #ffffff;
  --colorTableHover: #f7f9fc;
  --bgColorTableHead: #f7f9fc;
  --btnColorDelete: #f13426;
}
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  color: var(--colorLetra);
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: url("../../img/bgFoods.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 2rem;
}
.main {
  transition: all 0.4s;
  width: 98%;
  max-width: 130rem;
  margin: auto;
  background-color: var(--colorTable);
  opacity: 0.9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 2rem 2rem;
  border-radius: 2rem;
}
.main:hover {
  transition: all 0.4s;
  opacity: 1;
}
.header {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.header__title {
  font-size: 2rem;
  color: var(--colorLetra);
  text-align: start;
  flex: 2;
  padding-top: 1rem;
}
.header__back {
  flex: 1;
  display: block;
  text-align: end;
  padding: 2rem 0rem;
}
.header__back a {
  text-decoration: none;
  font-size: 1.4rem;
  border: 0.1rem solid var(--colorVerdeFuerte);
  padding: 1rem 2rem;
  color: var(--colorVerdeFuerte);
  background-color: var(--colorBlanco);
}
.header__back a:hover {
  transition: all 0.3s;
  border: 0.1rem solid var(--colorBlanco);
  padding: 1rem 2rem;
  color: var(--colorBlanco);
  background-color: var(--colorVerdeFuerte);
}
.last-modified {
  flex-basis: 100%;
  padding: 2rem 0rem;
  background-color: var(--colorDescriptionForm);
}
.edit-form {
  flex-basis: 100%;
}
.form-food {
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  flex-wrap: wrap;
}
.form-group {
  flex-basis: 100%;
  display: flex;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
}
.form-group label {
  flex-basis: 100%;
  font-size: 1.8rem;
  color: var(--colorInput);
  padding: 0.5rem 0rem;
}
.form-group .form-control {
  flex-basis: 100%;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  font-size: 1.6rem;
  border: 0.15rem solid var(--colorBorderInput);
  opacity: 0.9;
}
.form-group select {
  flex-basis: 100%;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  outline: none;
  border: 0.15rem solid var(--colorBorderInput);
  font-size: 1.6rem;
}
.form-group select option {
  padding: 5rem 0rem;
}
.form-group input[type="file"] {
  width: 100%;
}
.form-group button {
  background-color: var(--colorVerdeFuerte);
  color: white;
  outline: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: 1px solid var(--colorBorderInput);
  margin-top: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  flex-basis: 100%;
}
.form-group button:hover {
  background-color: var(--colorVerdeSuave);
  color: var(--colorLetra);
}
.food-image {
  display: none;
  padding: 2rem 0rem 0rem 0rem;
  flex-basis: 100%;
}
.food-image img {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 768px) {
  /*Contenido princiapl*/
  .form-group button {
    flex-basis: 20%;
  }
  .header__title {
    font-size: 3.5rem;
  }
  .header__back a {
    font-size: 1.8rem;
  }
  .main {
    width: 80%;
    padding: 2rem 5rem;
  }
}
@media screen and (min-width: 1440px) {
  .register-form {
    background: url("../../img/cocina.png");
    background-repeat: no-repeat;
    background-size: 70rem 70rem;
    background-position: bottom right;
  }
}
