@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@700&display=swap');
/* font-family: 'IBM Plex Sans Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100&display=swap');
/* font-family: 'IBM Plex Sans Condensed', sans-serif; */


body{
    margin: 0;
    padding: 0;
}

.headerCambiarContraseña {
    position: absolute;
    width: 1536px;
    height: 80px;
    left: 0px;
    top: 10px;
}

.contInicio {
    position: absolute;
    width: 323px;
    height: 80px;
    left: 10px;
    top: 0px;
    transition: all 1.5s;
}
    .contInicio a {
        position: absolute;
        width: 83px;
        height: 47px;
        left: 120px;
        top: -15px;
        font-family: IBM Plex Sans Condensed;
        font-style: normal;
        font-weight: 100;
        font-size: 30px;
        line-height: 47px;
        text-align: center;
        color: #FFFFFF;
        display: table;
        background: #54BF29;
        border-radius: 12px;
        box-shadow: 6px 2px 5px #BABABA; 
    }




.contLogoMarca {
    position: absolute;
    width: 920px;
    height: 80px;
    left: 333px;
    top: 0px;
}
    .fa-fire-alt {
        position: absolute;
        color: #54BF29;
        font-size: 40px;
        padding: 17px;
        top: 5px;
        left: 318px;
        transition: all 1.5s;
    }

    .contLogoMarca h1{
        position: absolute;
        width: 205px;
        height: 62px;
        left: 380px;
        top: -20px;
        font-family: IBM Plex Sans Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 62px;
        color: #000000;
        transition: all 1.5s;
    }

.contCerrarSesion {
    position: absolute;
    width: 303px;
    height: 80px;
    left: 1223px;
    top: 0px;
    transition: all 1.5s;
}
    .contCerrarSesion a{
        position: absolute;
        width: 242px;
        height: 47px;
        left: 30px;
        top: -15px;
        font-family: IBM Plex Sans Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 47px;
        text-align: center;
        color: #54BF29;
    }


.contenedorCambiarContraseña{
    position: absolute;
    width: 400px;
    height: 550px;
    left: 250px;
    top: 140px;
    background: #FFFFFF;
    box-shadow: 34px 34px 60px #BABABA;    
    border-radius: 35px;
}

.contTitulo{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 0px;
    top: 40px;

}
    .contTitulo h3{
        position: absolute;
        width: 396px;
        height: 62px;
        left: 30px;
        top: -20px;
        font-family: IBM Plex Sans Condensed;
        font-style: normal;
        font-weight: 700px;
        font-size: 40px;
        line-height: 62px;
        color: #000000;
    }

.contCampos{
    position: absolute;
    width: 400px;
    height: 280px;
    left: 1px;
    top: 150px;

}
    .contCampos input[type="password"] {
        position: relative;
        width: 335px;
        height: 40px;
        background: #FFFFFF;
        border: 1.5px solid #54BF29;
        box-shadow: 0px 1px 1px #BABABA;
        border-radius: 10px;
    }
        .contCampos input[type="password"]:focus{
            outline: none;
            border: 1.5px solid #54BF29;
        }

#i1{
    left: 30px;
    top: 40px;
} 

#i2{
    left: 30px;
    top: 80px;
}

#i3{
    left: 30px;
    top: 120px;
}

.contBotonGuardar {
    position: absolute;
    width: 400px;
    height: 100px;
    left: 0px;
    top: 430px;
}
    .contBotonGuardar input[type="submit"] {
        position: absolute;
        width: 230px;
        height: 50px;
        left: 85px;
        top: 25px;
        background: #54BF29;
        box-shadow: 10px 10px 10px #BABABA;
        border-radius: 20px;
        border-style: inherit;
        border-color: #FFFFFF;
        font-family: IBM Plex Sans Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 47px;
        text-align: center;
        color: #ffffff;
    }
   

.contenedorImagenes{
    position: absolute;
    width: 664px;
    height: 550px;
    left: 720px;
    top: 140px;
    border-radius: 35px;
}
    .contenedorImagenes img{
        position: absolute;
        width: 664px;
        height: 550px;
        left: 30px;
        top: 0px;
    }

